{% extends 'base.html' %}

{% block content %}


<section class="pt-5 pb-5">
    <div class="container">
      <div class="row w-100">
          <div class="col-lg-12 col-md-12 col-12">
              <h3 class="display-5 mb-2 text-center">ваш корзайн</h3>
              <p class="mb-5 text-center">
                  <i class="text-info font-weight-bold"></i></p>
              <table id="shoppingCart" class="table table-condensed table-responsive">
                  <thead>
                      <tr>
                          <th style="width:60%">Product</th>
                          <th style="width:12%">Price</th>
                          <th style="width:10%">Quantity</th>
                          <th style="width:16%"></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for product in products %}
                      <tr>
                          <td data-th="Product">
                              <div class="row">
                                  <div class="col-md-3 text-left">
                                      <img src="{{ product.image.url }}" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                  </div>
                                  <div class="col-md-9 text-left mt-sm-2">
                                      <h4>{{ product.name }}</h4>
                                      <p class="font-weight-light">категория: {{product.category}}</p>
                                  </div>
                              </div>
                          </td>
                          <td data-th="Price">{{product.price}}</td>
                          <td data-th="Quantity">
                              <!-- <input type="number" class="form-control form-control-lg text-center" value="1"> -->
                              {{product.count}}
                          </td>
                          <td class="actions" data-th="">
                              <div class="text-right">
                                    <a href="{% url 'remove_from_cart' pk=product.pk %}" class="btn btn-danger"><i class="fas fa-shopping-cart"></i> Remove from Cart</a>
                                    <h5>{{ product.sum }} сомовиков</h5>
                                </button>
                              </div>
                          </tr>
                        </div>
                        {% endfor %}
                    </table>
          </div>
      </div>
      <div class="row mt-4 d-flex align-items-center">
          <div class="col-sm-6 order-md-2 text-right">
              <!-- <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a> -->

            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    заказать
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Уверены что закажите?(пж да)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'order'%}" method="POST">
                {% csrf_token %}
            Для заказа напишите свой адресс, индекс почты и молитесь чтобы не было пробок    
        <input class="form-control form-control-sm" type="text" placeholder="Сюда ваше имя" aria-label=".form-control-sm example" name="c_name">
        <br>
        <input class="form-control form-control-sm" type="text" placeholder="Сюдаваше фамилие" aria-label=".form-control-sm example" name="c_lname">
        <br>
        <input class="form-control form-control-sm" type="text" placeholder="Сюда ваш номер" aria-label=".form-control-sm example" name="c_phnumber">
        <br>
        <input class="form-control form-control-sm" type="text" placeholder="Сюда место адреса" aria-label=".form-control-sm example" name="c_address">
        <br>
        <input class="form-control form-control-sm" type="email" placeholder="Сюда ваш @email" aria-label=".form-control-sm example" name="c_email">
        
   
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary">Скинуть.</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

  {% if messages %} 
  {% for message in messages %}
  <div class="alert alert-{{message.extra_tags}} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
          <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
              <a href="{% url 'homepage' %}">
                  <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
          </div>
    </div>
  </div>
  </section>

{% endblock %}