{% extends 'base.html' %}

{% block content %}


<section class="pt-5 pb-5">
    <div class="container">
      <div class="row w-100">
          <div class="col-lg-12 col-md-12 col-12">
              <h3 class="display-5 mb-2 text-center">ваш корзайн</h3>
              <p class="mb-5 text-center">
                  <i class="text-info font-weight-bold"></i></p>
              <table id="shoppingCart" class="table table-condensed table-responsive">
                  <thead>
                      <tr>
                          <th style="width:60%">Product</th>
                          <th style="width:12%">Price</th>
                          <th style="width:10%">Quantity</th>
                          <th style="width:16%"></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for product in products %}
                      <tr>
                          <td data-th="Product">
                              <div class="row">
                                  <div class="col-md-3 text-left">
                                      <img src="{{ product.image.url }}" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                  </div>
                                  <div class="col-md-9 text-left mt-sm-2">
                                      <h4>{{ product.name }}</h4>
                                      <p class="font-weight-light">категория: {{product.category}}</p>
                                  </div>
                              </div>
                          </td>
                          <td data-th="Price">{{product.price}}</td>
                          <td data-th="Quantity">
                              <!-- <input type="number" class="form-control form-control-lg text-center" value="1"> -->
                              {{product.count}}
                          </td>
                          <td class="actions" data-th="">
                              <div class="text-right">
                                    <a href="{% url 'remove_from_cart' pk=product.pk %}" class="btn btn-danger"><i class="fas fa-shopping-cart"></i> Remove from Cart</a>
                                    <h5>{{ product.sum }} сомовиков</h5>
                                </button>
                              </div>
                          </tr>
                        </div>
                        {% endfor %}
                    </table>
          </div>
      </div>
      <div class="row mt-4 d-flex align-items-center">
          <div class="col-sm-6 order-md-2 text-right">
              <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
          </div>
          <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
              <a href="catalog.html">
                  <i href="{% url 'homepage' %}" class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
          </div>
      </div>
  </div>
  </section>

{% endblock %}