{% extends 'base.html' %}
{% load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>АЭ</title>
    <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-sm-8 col-md-6 col-lg-6">
            <div class="card">
              <img class="card-img" src="{{product_pk.image.url}}" alt="Vans">
              <div class="card-img d-flex justify-content-end">
                <a href="#" class="card-link text-danger like">
                  <i class="fas fa-heart"></i>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title" style="text-align:center">{{product_pk.name}}</h4>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align:center">категория {{product_pk.category}}</h6>
                <p class="card-text">
                  
                  <div class="buy d-flex justify-content-between align-items-center">
                    <div class="price text-success"><h5 class="mt-4">{{ product_pk.price }} сомиков</h5></div>
                    <div class="price text-dark"><h5 class="mt-4" >{{ product_pk.descripton }}</h5></div>
                    <a href="{% url 'addToCart' pk=product_pk.pk %}" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"> Add to Cart</i></a>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </head>
<body>
  <br>
  <br>
  <div class="container py-3">

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">МАМАДЖИН</strong>
        <h3 class="mb-0">Магазин MAMAJIN всегда рада новым клиентам!</h3>
        <div class="mb-1 text-muted">это сущая правда:)</div>
        <p class="card-text mb-auto">Наш интернет магазин отличается от остальных тем что наша кантора более добрее и товары дешевле и качественнее</p>
        <a href="#" class="stretched-link">для полной информацию тык сюда</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">MAMAJIN</text></svg> -->
        <img src="{% static 'images/mamaj.png' %}"  class="img-responsive" width="200", height="250"> 
      </div>
      </div>
    </div>
</body>
</html>
{% endblock %}